@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Cinzel:wght@500&family=Eagle+Lake&display=swap');

:root {
  --primary-color: #929F56;
  --secondary-color: #600706;
  --accent1-color: #B69B16;
  --accent2-color: #BDB9B3;
  --head-font: "Eagle Lake";
  --sub-head-font: Cinzel;
  --paragraph-font: "Baloo Bhaina 2";
}

html {
  background-color: var(--primary-color)
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em
}

img {
  max-width: 100%
}

h1, h2 {
  font-family: var(--head-font);
}

h3, h4, h5, h6 {
  font-family: var(--sub-head-font);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--accent2-color);
  background-color: var(--secondary-color)
}

header>div {
  font-family: var(--sub-head-font);
}

p {
  font-family: var(--paragraph-font);
  padding: 1em
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center
}

.colors th {
  background-color: #999
}

.colors td {
  width: 25%;
  height: 3em
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--accent2-color)
}

.accent1 {
  background-color: var(--accent1-color)
}

.accent2 {
  background-color: var(--accent2-color)
}

ul {
  list-style-type: none;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  background-color: var(--secondary-color);
  font-family: var(--head-font);
  text-align: center;
}

li {
 display: inline;
}

li a {
  color: var(--primary-color);
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
}

li a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer {
  font-family: var(--paragraph-font);
}