@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Cinzel:wght@500&family=Eagle+Lake&display=swap');

:root {
  --primary-color: #600706;
  --secondary-color: #929F56;
  --accent1-color: #E4C425;
  --accent2-color: #E5E9F1;
  --heading-font: "Eagle Lake";
  --sub-heading-font: Cinzel;
  --paragraph-font: "Baloo Bhaina 2";
}

html {
  background-color: var(--secondary-color)
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em
}

img {
  max-width: 100%
}

h1, h2 {
  font-family: var(--heading-font);
}

h3, h4, h5, h6 {
  font-family: var(--sub-heading-font);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--accent2-color);
  background-color: var(--primary-color)
}

header>div {
  font-family: var(--sub-heading-font);
}

p {
  font-family: var(--paragraph-font);
  color: ;
  padding: 1em
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center
}

.colors th {
  background-color: #999
}

.colors td {
  width: 25%;
  height: 3em
}

.primary {
  background-color: var(--primary-color);
  color: var(--accent2-color)
}

.secondary {
  background-color: var(--secondary-color)
}

.accent1 {
  background-color: var(--accent1-color)
}

.accent2 {
  background-color: var(--accent2-color)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
}

li {
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
}

li:last-child {
  border-bottom: none;
}

li a {
  display: block;
  color: var(--secondary-color);
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

footer {
  font-family: var(--paragraph-font);
}