@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Cinzel:wght@500&family=Eagle+Lake&display=swap');

:root {
  --primary-color: #600706;
  --secondary-color: #929F56;
  --accent1-color: #B69B16;
  --accent2-color: #BDB9B3;
}

html {
  background-color: var(--secondary-color);
}

body {
  background-color: var(--accent2-color);
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  width: 130px;
  background-color: var(--primary-color);
  border: 1px solid var(--accent1-color);
  height: 51%;
  overflow: auto;
}

li {
  text-align: center;
  border-bottom: 1px solid var(--accent1-color);
  font-family: "Eagle Lake";
}

li:last-child {
  border-bottom: none;
}

li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--secondary-color);
}

li a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.gridarea {
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  max-width: 840px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header header header"
    "nav main main"
    "footer footer footer";
}

header {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 3em;
  padding: 15px;
  grid-area: header;
  align-items: center;
}

.logo {
  justify-self: right;
}

nav {
  padding: 7px;
  grid-area: nav;
  text-align: center;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 5px;
}

footer {
  padding: 7px;
  font-size: smaller;
  grid-area: footer;
  text-align: center;
}

h1 {
  font-family: "Eagle Lake";
}

h2 {
  font-family: Cinzel;
}

@media screen and (max-width: 550px) {
  .gridarea {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer";
  }

  header {
    grid-template-columns: 1fr 1fr;
  }
}